* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background: black url(/imagens/floresta.jpg);
}

#corpo {
    width: 1200px;
    background: #4B5945;
    margin: 0 auto;
}

#header {
    width: 1200px;
    height: 150px;
    text-align: center;
}

#aba-navegacao ul {
    background: #66785F;
    float: left;
    width: 1150px;
    margin: 10px 0px 10px 25px;
}

#aba-navegacao ul li {
    float: left;
    padding-left: 20px;
    margin: 0 10px;
}

#aba-navegacao ul a {
    font-size: 1em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    color: #c5ddbf;
}

#aba-navegacao ul a:hover {
    color: #2C3930;
}

#posts {
    clear: both;
    background: #c7c7c7;
    margin: 5px;
}

.post {
    font-size: 1.2em;
    padding: 8px;
}

.texto-post {
    text-align: justify;
    background: #fff;
    padding: 10px;
}

h2 {
    padding: 5px;
}

.img {
    width: 30%;
    margin-left: 400px;
    padding: 5px;
}

#footer {
    text-align: center;
    color: #B2C9AD;
    background: #66785F;
    height: 50px;
    font-size: 1.2em;
    line-height: 50px;
}